{% extends 'layout.html' %}

{% block content %}
<div class="head border-bottom mt-5">
    <p class="col-md-10 h1 d-inline-block">{{post.dataValues.title}}</p>
    <div class="justify-content-end col-md-2 d-inline">{{date}}</div>
</div>


<p>작성자: {{post.User.nick}}</p>
<pre>{{post.content}}</pre>
<div class="recbox text-center mt-5 pb-4 border-bottom">
    <form action="recommend" action="" method="post">
        <button type="button" id="pos" class="recbtn btn btn-primary btn-lg">추천<br>0</button>
        <button type="button" id="neg" class="recbtn btn btn-danger btn-lg">비추천<br>0</button>
    </form>
</div>
<div class="commentsBox">
    {% for comment in comments %}
    <div class="border-bottom">
        <p class="d-inline me-3">{{comment.User.nick}}</p><span>{{comment.createdAt}}</span>
        <p><pre>{{comment.content}}</pre></p>
    </div>
    {% endfor %}
</div>

<div class="commentForm">
    <form action="/qna/{{post.id}}/comment" method="post">
        <label for="exampleFormControlTextarea1" class="form-label">댓글 쓰기</label>
        <textarea class="form-control form-control-sm d-inline" name="content" id="exampleFormControlTextarea1" style="height: 100px" required></textarea>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
document.querySelector('#pos').addEventListener("click", recommend);
document.querySelector('#neg').addEventListener("click", recommend);

function recommend() {
  alert ("Hello World!");
}
</script>
{% endblock %}