{% extends 'layout.html' %}

{% block content %}
<div class="textArea">
    <div class="text-center"><img src="/public/philippine.jpg" alt="" width="70%"></div>
    <p class="text-center">필리핀 현지학기제 참가 학생들 (2015)</p>
    <div class="text-center"><img src="/public/japan.jpg" alt="" width="70%"></div>
    <p class="text-center">일본 현지연수에 나서는 영진전문대학교 일본기계자동화반 (2018)</p>
    <p>
        <pre class="pre-scrollable" style="white-space: pre-wrap;">글로벌 인재 양성에 역점을 두고 있는 영진전문대는 재학생들을 해외로 파견, 글로벌 명품인재 육성에 힘을 쏟고 있습니다.

재학생을 대상으로 필리핀 딸락주립대학교(TSU)를 비롯한 다양한 나라의 협약처와 함께 현지학기제를 운영하고 있습니다.
        
올해로 19년째에 접어들게 된 필리핀현지학기제는 영어 실력 향상에 포커스가 맞춰져 있습니다. 현지 파견된 학생들은 오전 6시에 기상, 체조와 구보로 일과를 시작, 오전 8시부터 오후 3시까지 TSU 영어교수가 진행하는 영어수업, 오후 3시부터 6시까진 현지 대학생들과 영어 작문과 회화 튜터링을 갖습니다.

일본현지연수는 협약기업에서 인턴십, 실전 일본어 학습, 현지 대학생과 공동 전공수업 참여, 현지 회사 견학에 참여하면서 일본 기업문화를 체험합니다.

컴퓨터정보계열 일본IT기업주문반 또한 도쿄에서 연수를 하며, 역시 집중식 일본어 교육, 현장실습, 일본IT기업 설명회 참가와 견학, 문화체험 등의 프로그램에 참여하고 귀국하게 됩니다.

이렇게 현지학기제에 참가한 학생들은 실제로 IT능력과 어학능력이 크게 향상되었으며 대부분 긍정적인 반응을 보이고 있습니다. 


        
        </pre>
    </p>
</div>
{% endblock %}