<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
  <div class="text-center mt-5">
  <form id="join-form col-md-5 m-auto" action="/auth/join" method="post">
    <a href="/"><img class="mb-4" src="/public/logo.png" alt="logo" width="100"></a>
              <h1 class="h3 mb-3 fw-normal">Sign-up</h1>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="join-email" placeholder="이메일" required>
      </div>
      <div class="col-md-3">
        <label for="inputAddress" class="form-label">Nickname</label>
        <input type="text" name="nick" class="form-control" id="join-nick" placeholder="별명" required>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <label for="inputPassword4" class="pw form-label">Password</label>
        <input type="password" name="pw" oninput="return checkAvailable1()" class="form-control" id="join-password1" placeholder="비밀번호" required>
        <p id="pw1-ann" style="color:red;"></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <label for="inputPassword4" class="pw form-label">Password Confirm</label>
        <input type="password" class="form-control" oninput="return checkAvailable2()" id="join-password2" placeholder="비밀번호 확인" required>
        <p id="pw2-ann" style="color:red;"></p>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-6 justify-content-end">
        <input id="join-btn" type="submit" onclick="return test()" class="btn btn-primary" value="Sign up">
        <p class="mt-5 mb-3 text-muted">© lein-hub 2020–2021</p>
      </div>
    </div>
  </form>
</div>

    <script type="text/javascript">

      function test() {
        var p1 = document.getElementById('join-password1').value;
        var p2 = document.getElementById('join-password2').value;
        var a1 = document.getElementById('pw1-ann').innerHTML;
        var a2 = document.getElementById('pw2-ann').innerHTML;
        if( p1 != p2 ) {
          alert("비밀번호가 일치하지 않습니다");
          return false;
        } else if (a1 || a2) {
          alert("비밀번호 조건이 맞지 않습니다.");
          return false;
        }
      }
      function checkAvailable1() {
        const passwordRule = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
        const pw1 = document.querySelector('#join-password1');
        if (pw1.value == '') {
          document.getElementById('pw1-ann').innerHTML = '';
        } else if (!passwordRule.test(pw1.value)) {
          document.getElementById('pw1-ann').innerHTML = '비밀번호는 최소 8 자, 최소 하나의 문자 및 숫자 조합이어야 합니다.';
        } else {
          document.getElementById('pw1-ann').innerHTML = '';
        }
      }
      function checkAvailable2() {
        var p1 = document.getElementById('join-password1').value;
        var p2 = document.getElementById('join-password2').value;
        if (p2 == '') {
          document.getElementById('pw2-ann').innerHTML = '';
        } else if( p1 != p2 ) {
          document.getElementById('pw2-ann').innerHTML = '비밀번호가 일치하지 않습니다.';
        } else {
          document.getElementById('pw2-ann').innerHTML = '';
        }
      }
    </script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert('이미 존재하는 이메일입니다.');
        }
      };
    </script>
</body>
</html>