{% extends 'layout.html' %}

{% block content %}
<div class="qnaContainer">
    <div class="qnaTitle">궁금한것이 있다면 물어보세요</div>
    {% for post in posts %}
      <div class="post">
        <input type="hidden" value="{{post.User.id}}" class="post-user-id">
        <input type="hidden" value="{{post.id}}" class="post-id">
        <a href=""><div class="post-author">{{post.title}}</div></a>
        <div class="post-content">{{post.User.nick}}</div>
      </div>
    {% endfor %}
    <div>
      <form id="write-qna" action="/write" method="get">
      <button id="write-btn", type="menu" class="btn">글쓰기</button>
      </form>
    </div>
</div>

{% endblock %}