{% extends 'layout.html' %}

{% block content %}
<div class="qnaContainer">
    <div class="qnaTitle"><h1 class="display-1 fw-bold fst-italic">Q & A</h1></div>
    <table class="table table-hover">
      <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th class="text-center" scope="col">글쓴이</th>
      <th class="text-center" scope="col">날짜</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
      <tr class="conTable">
        <th scope="row">{{post.id}}</th>
        <td>
          <a href="/qna/{{post.id}}">{{post.title}}</a>
          <span>{{post.Comment.count}}</span>
        </td>
        <td class="text-center"><a href="/u/{{post.UserId}}?content=0">{{post.User.nick}}</a></td>
        <td class="text-center">{{post.createdAt}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="text-center">
  {% for num in counts %}
  {% if loop.index == page %}
  <span class="pageThis">{{num}}</span>
  {% else %}
  <a class="pageNum" href="/qna?page={{num}}">{{num}}</a>
  {% endif %}
  {% endfor %}
</div>
    <div>
      <form id="write-qna" action="/write" method="get">
      <button id="write-btn", type="menu" class="btn btn-primary">글쓰기</button>
      </form>
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}