{% extends 'layout.html' %}

{% block content %}
<div class="container emp-profile row">
    
        <div class="col-md-4 d-inline-block">
            <div class="col">
                <div class="profile-img">
                    {% if pageUser.avatar %}
                    {% set imgSource = pageUser.avatar %}
                    {% else %}
                    {% set imgSource = '/public/empty.png' %}
                    {% endif %}
                    <img src="{{imgSource}}" alt=""/>
                </div>
            </div>
            <div class="col">
                <div class="profile-work">
                    <p>Info</p>
                    {% if pageUser.address %}
                    <i class="bi bi-geo-alt" alt="location"></i><span> {{pageUser.address}}</span><br/>
                    {% endif %}
                    {% if pageUser.interest %}
                    <i class="bi bi-heart"></i><span> {{pageUser.interest}}</span><br/>
                    {% endif %}
                    {% if pageUser.occupation %}
                    <i class="bi bi-briefcase"></i></i><span> {{pageUser.occupation}}</span><br/>
                    {% endif %}
                    {% if pageUser.snsId %}
                        {% if pageUser.snsProvider == 'instagram' %}
                        <i class="bi bi-instagram"></i>
                        {% elif pageUser.snsProvider == 'facebook' %}
                        <i class="bi bi-facebook"></i>
                        {% else %}
                        <i class="bi bi-twitter"></i>
                        {% endif %}
                    <span> {{pageUser.snsId}}</span><br/>
                    {% endif %}
                    {% if pageUser.webSite %}
                    <i class="bi bi-globe2"></i><span> <a href="{{pageUser.webSite}}">{{pageUser.webSite}}</a></span><br/>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 row">
            <div class="col-md-9">
                <div class="profile-head">
                    <h5>
                        {{pageUser.nick}}
                    </h5>
                    <h6>
                        {{pageUser.selfIntro}}
                        {% if pageUser.selfIntro == null %}
                        등록된 소개말이 없습니다.
                        {% endif %}
                    </h6>
                </div>
            </div>
            <div class="col-md-3">
                {% if pageUser.id == user.id %}
                <input type="button" onclick="location.href='/profile'" class="profile-edit-btn" name="btnAddMore" value="프로필 수정"/>
                {% endif %}
            </div>
            <div class="profile-mid">
                <ul class="nav nav-tabs m-0" id="myTab" role="tablist">
                    {% if posts %}
                    
                        {% set p = 'true' %}
                        {% set c = 'false' %}
                        {% set pa = 'active' %}
                        {% set ca = 'null' %}

                    {% else %}
                    
                        {% set c = 'true' %}
                        {% set p = 'false' %}
                        {% set pa = 'null' %}
                        {% set ca = 'active' %}

                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {{pa}}" id="content-tab" data-toggle="tab" href="?content=0&page=1" role="tab" aria-controls="home" aria-selected="{{p}}">내가 쓴 글</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ca}}" id="comment-tab" data-toggle="tab" href="?content=1&page=1" role="tab" aria-controls="profile" aria-selected="{{c}}">내가 쓴 댓글</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 p-0 m-0">
                <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">제목</th>
                      <th class="text-center" scope="col">글쓴이</th>
                      <th class="text-center" scope="col">날짜</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in posts %}
                      <tr class="conTable">
                        <th scope="row">{{post.id}}</th>
                        <td>
                          <a href="/qna/{{post.id}}">{{post.title}}</a>
                          <span>{{post.Comment.count}}</span>
                        </td>
                        <td class="text-center">{{post.User.nick}}</td>
                        <td class="text-center">{{post.createdAt}}</td>
                      </tr>
                    {% endfor %}

                    {% for comment in comments %}
                      <tr class="conTable">
                        <th scope="row">{{comment.id}}</th>
                        <td>
                          <a href="/qna/{{comment.Post.id}}">{{comment.content}}</a>
                        </td>
                        <td class="text-center">{{comment.User.nick}}</td>
                        <td class="text-center">{{comment.createdAt}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="text-center">
                {% for num in Pcounts %}
                {% if loop.index == page %}
                <span class="pageThis">{{num}}</span>
                {% else %}
                <a class="pageNum" href="?content=0&page={{num}}">{{num}}</a>
                {% endif %}
                {% endfor %}

                {% for num in Ccounts %}
                {% if loop.index == page %}
                <span class="pageThis">{{num}}</span>
                {% else %}
                <a class="pageNum" href="?content=1&page={{num}}">{{num}}</a>
                {% endif %}
                {% endfor %}
              </div>
        </div>           
</div>
{% endblock %}


{% block script %}
{% endblock %}