{% extends 'layout.html' %}
{% block content %}
{% if isEdit %}
<form id="login-form" action="/post/edit" method="post">
    <input class="visually-hidden" name="postId" id="postId" value="{{post.id}}">
{% else %}
<form id="login-form" action="/post" method="post">
{% endif %}
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">제목</label>
    <input type="text" class="form-control" name="title" id="exampleFormControlInput1" value="{{post.title}}" placeholder="제목을 입력하세요" required>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">내용</label>
    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="15" required>{{post.content}}</textarea>
</div>
{% if post.img %}
{% set imgSource = post.img %}
{% else %}
{% set imgSource = '/public/empty.png' %}
{% endif %}
<div>
    <label id="img-label" for="img">사진 업로드</label>
    <input id="img" type="file" accept="image/*">
</div>
<div class="img-preview">
    <img id="img-preview" src="{{imgSource}}" style="display: inline;" width="250" alt="미리보기">
    <input id="img-url" type="hidden" name="url">
</div>
{% if isEdit %}
<button type="submit" class="btn btn-primary">수정 완료</button>
{% else %}
<button type="submit" class="btn btn-primary">글쓰기</button>
{% endif %}
</form>
{% endblock %}


{% block script %}
<script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
</script>
{% endblock %}